.table{
    border: 1;
}
.BodyForm{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* .BodyForm{
    text-align: center;
} */
.centerMe{
    text-align: center;
}

.resultsTable{
    width: 100%;
}

input{
    width: 100%;
}

@keyframes twinkle{
    0%{
        /* opacity: calc(-0.5); */
    }
    100%{
        opacity: calc(+1);
    }
}

.star{
    will-change: contents;
    animation-timing-function: linear;
    animation-name: twinkle;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}