.table{
    border: 1;
}
.BodyForm{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* .BodyForm{
    text-align: center;
} */
.centerMe{
    text-align: center;
}

.resultsTable{
    width: 100%;
}

input{
    width: 100%;
}